
## Week 3 Homework

#### Follow the prompts below to practice the concepts learned in Week 3's lectures. Submit the assignment as a .ipynb through blackboard.

In [1]:
import pandas as pd #pandas import
import numpy as np #numpy import
pd.set_option('display.max_columns', None) #displays all columns instead of a max of 20

##### Prompt 1

Read in the data file called 'CostofLivingForWeek3'.

Print the first 5 rows by using the .head() command.

In [2]:
cost_of_living=pd.read_csv('CostofLivingForWeek3.csv')
cost_of_living.head()

,City,Country,Inexpensive Meal,Midrange Meal For 2,McMeal,Domestic Beer (at restaurant),Imported Beer (at restaurant),Cappuccino (at restaurant),Soft Drink (at restaurant),Water (at restaurant),Milk (at Grocery),White Bread,Rice,Eggs,Cheese,Chicken,Beef,Apples,Bananas,Oranges,Tomato,Potato,Onion,Lettuce,Water (at Grocery),Wine (at Grocery),Domestic Beer (at Grocery),Imported Beer (at Grocery),data_quality
0,Delhi,India,4.90,22.04,4.28,1.84,3.67,1.78,0.48,0.19,0.73,0.51,0.88,1.01,4.32,3.79,5.57,1.80,0.75,1.01,0.60,0.36,0.41,0.70,0.36,9.79,1.53,2.51,1
1,Shanghai,China,5.59,40.51,5.59,1.12,4.19,3.96,0.52,0.32,2.68,2.57,1.18,2.17,18.01,4.67,12.79,2.22,1.55,2.11,1.47,0.82,1.02,0.82,0.62,13.97,0.91,1.93,1
2,Jakarta,Indonesia,2.54,22.25,3.50,2.02,3.18,2.19,0.59,0.27,1.28,1.21,0.83,1.70,6.66,3.46,8.32,2.80,1.52,2.08,1.24,1.35,2.10,1.13,0.42,20.66,2.06,3.18,1
3,Manila,Philippines,3.54,27.40,3.54,1.24,1.90,2.91,0.93,0.51,1.63,1.19,0.89,1.73,5.06,4.19,6.64,2.66,1.42,2.95,1.42,1.76,1.75,1.36,0.65,8.84,1.15,1.55,1
4,Seoul,South Korea,7.16,52.77,6.03,3.02,4.52,3.86,1.46,0.78,2.13,2.78,3.66,4.02,11.13,10.62,40.41,6.79,3.70,6.40,6.36,3.86,2.81,2.40,1.06,15.08,2.10,2.49,1

##### Prompt 2

There is a column called 'data_quality' which indicates which of our rows contains data that is reliable.

Explore this variable a little by: determining the number of unreliable vs. reliable rows, the country (or countries) with the highest number of unreliable rows, then the country (or countries) with the highest proportion of unreliable rows (# of unreliable rows/# of total rows for each country).

We do this to understand a little more able how reliable our data is, and what some of the consequence will be if we choose to remove unreliable data.

In [3]:
#Determining the number of unreliable vs. reliable rows
rel_r = cost_of_living[cost_of_living['data_quality'] == 1].shape[0]
unrel_r = cost_of_living[cost_of_living['data_quality'] == 0].shape[0]
print(f"Number of reliable rows: {rel_r}")
print(f"Number of unreliable rows: {unrel_r}")

#The country (or countries) with the highest number of unreliable rows
unrel_country = cost_of_living[cost_of_living['data_quality'] == 0]['Country'].value_counts()
highest_unrel = unrel_country.idxmax()
print(f"Country with the highest number of unreliable rows: {highest_unrel}")

#The country (or countries) with the highest proportion of unreliable rows (# of unreliable rows/# of total rows for each country)
total_r = cost_of_living['Country'].value_counts()
unreliable = (unrel_country / total_r).dropna()
country_unreliable = unreliable.idxmax()
print(f"Country with the highest proportion of unreliable rows: {country_unreliable}")

Number of reliable rows: 910
Number of unreliable rows: 3964
Country with the highest number of unreliable rows: United States
Country with the highest proportion of unreliable rows: American Samoa

##### Prompt 3

Now that we know a little more about our data in terms of reliability, we will want to create a new DataFrame that contains only rows where 'data_quality' equals 1 (e.g., data is reliable). Then drop the data_quality column. This way we can use only reliable data in our subsequent analyses.

Make sure to print the first 5 rows of your new DataFrame by using the .head() command and use this DataFrame in all subsequent prompts.

In [4]:
reliable_r = cost_of_living[cost_of_living['data_quality'] == 1]
reliable_r = reliable_r.drop(columns=['data_quality'])#I'm deleting the data_quality cell, .drop means deleting the column
reliable_r.head()

,City,Country,Inexpensive Meal,Midrange Meal For 2,McMeal,Domestic Beer (at restaurant),Imported Beer (at restaurant),Cappuccino (at restaurant),Soft Drink (at restaurant),Water (at restaurant),Milk (at Grocery),White Bread,Rice,Eggs,Cheese,Chicken,Beef,Apples,Bananas,Oranges,Tomato,Potato,Onion,Lettuce,Water (at Grocery),Wine (at Grocery),Domestic Beer (at Grocery),Imported Beer (at Grocery)
0,Delhi,India,4.90,22.04,4.28,1.84,3.67,1.78,0.48,0.19,0.73,0.51,0.88,1.01,4.32,3.79,5.57,1.80,0.75,1.01,0.60,0.36,0.41,0.70,0.36,9.79,1.53,2.51
1,Shanghai,China,5.59,40.51,5.59,1.12,4.19,3.96,0.52,0.32,2.68,2.57,1.18,2.17,18.01,4.67,12.79,2.22,1.55,2.11,1.47,0.82,1.02,0.82,0.62,13.97,0.91,1.93
2,Jakarta,Indonesia,2.54,22.25,3.50,2.02,3.18,2.19,0.59,0.27,1.28,1.21,0.83,1.70,6.66,3.46,8.32,2.80,1.52,2.08,1.24,1.35,2.10,1.13,0.42,20.66,2.06,3.18
3,Manila,Philippines,3.54,27.40,3.54,1.24,1.90,2.91,0.93,0.51,1.63,1.19,0.89,1.73,5.06,4.19,6.64,2.66,1.42,2.95,1.42,1.76,1.75,1.36,0.65,8.84,1.15,1.55
4,Seoul,South Korea,7.16,52.77,6.03,3.02,4.52,3.86,1.46,0.78,2.13,2.78,3.66,4.02,11.13,10.62,40.41,6.79,3.70,6.40,6.36,3.86,2.81,2.40,1.06,15.08,2.10,2.49

##### Prompt 4


Create a new column called 'City/Country' that combines City and Country with a comman in between.

Print the first 5 rows of your new DataFrame by using the .head() command.

In [5]:
reliable_r['City/Country'] =reliable_r['City']+', '+reliable_r['Country']
reliable_r.head() #or reliable_r in case I want to see all rows

,City,Country,Inexpensive Meal,Midrange Meal For 2,McMeal,Domestic Beer (at restaurant),Imported Beer (at restaurant),Cappuccino (at restaurant),Soft Drink (at restaurant),Water (at restaurant),Milk (at Grocery),White Bread,Rice,Eggs,Cheese,Chicken,Beef,Apples,Bananas,Oranges,Tomato,Potato,Onion,Lettuce,Water (at Grocery),Wine (at Grocery),Domestic Beer (at Grocery),Imported Beer (at Grocery),City/Country
0,Delhi,India,4.90,22.04,4.28,1.84,3.67,1.78,0.48,0.19,0.73,0.51,0.88,1.01,4.32,3.79,5.57,1.80,0.75,1.01,0.60,0.36,0.41,0.70,0.36,9.79,1.53,2.51,"Delhi, India"
1,Shanghai,China,5.59,40.51,5.59,1.12,4.19,3.96,0.52,0.32,2.68,2.57,1.18,2.17,18.01,4.67,12.79,2.22,1.55,2.11,1.47,0.82,1.02,0.82,0.62,13.97,0.91,1.93,"Shanghai, China"
2,Jakarta,Indonesia,2.54,22.25,3.50,2.02,3.18,2.19,0.59,0.27,1.28,1.21,0.83,1.70,6.66,3.46,8.32,2.80,1.52,2.08,1.24,1.35,2.10,1.13,0.42,20.66,2.06,3.18,"Jakarta, Indonesia"
3,Manila,Philippines,3.54,27.40,3.54,1.24,1.90,2.91,0.93,0.51,1.63,1.19,0.89,1.73,5.06,4.19,6.64,2.66,1.42,2.95,1.42,1.76,1.75,1.36,0.65,8.84,1.15,1.55,"Manila, Philippines"
4,Seoul,South Korea,7.16,52.77,6.03,3.02,4.52,3.86,1.46,0.78,2.13,2.78,3.66,4.02,11.13,10.62,40.41,6.79,3.70,6.40,6.36,3.86,2.81,2.40,1.06,15.08,2.10,2.49,"Seoul, South Korea"

##### Prompt 5

In how many cities is it cheaper to buy beef than it is to buy chicken?

In [6]:
cheaper_buy_beef = reliable_r[reliable_r['Beef'] < reliable_r['Chicken']]['City'].nunique() #nunique returns the number of unique elements in a given series or dataframe
print(f"In {cheaper_buy_beef} cities, it is cheaper to buy beef than it is to buy chicken.")

In 38 cities, it is cheaper to buy beef than it is to buy chicken.

##### Prompt 7

Create two new columns: One called Avg_Fruit that contains the average of Apples, Bananas, and Oranges and another called Avg_Veg that contains the average of 'Tomato', 'Potato', 'Onion', 'Lettuce'.

Note: Depending on your method, you may need to use axis=1.

In [7]:
reliable_r['Avg_Fruit'] = reliable_r[['Apples', 'Bananas', 'Oranges']].mean(axis=1).round(2)
reliable_r['Avg_Veg'] = reliable_r[['Tomato', 'Potato', 'Onion', 'Lettuce']].mean(axis=1).round(2)
reliable_r.head()

,City,Country,Inexpensive Meal,Midrange Meal For 2,McMeal,Domestic Beer (at restaurant),Imported Beer (at restaurant),Cappuccino (at restaurant),Soft Drink (at restaurant),Water (at restaurant),Milk (at Grocery),White Bread,Rice,Eggs,Cheese,Chicken,Beef,Apples,Bananas,Oranges,Tomato,Potato,Onion,Lettuce,Water (at Grocery),Wine (at Grocery),Domestic Beer (at Grocery),Imported Beer (at Grocery),City/Country,Avg_Fruit,Avg_Veg
0,Delhi,India,4.90,22.04,4.28,1.84,3.67,1.78,0.48,0.19,0.73,0.51,0.88,1.01,4.32,3.79,5.57,1.80,0.75,1.01,0.60,0.36,0.41,0.70,0.36,9.79,1.53,2.51,"Delhi, India",1.19,0.52
1,Shanghai,China,5.59,40.51,5.59,1.12,4.19,3.96,0.52,0.32,2.68,2.57,1.18,2.17,18.01,4.67,12.79,2.22,1.55,2.11,1.47,0.82,1.02,0.82,0.62,13.97,0.91,1.93,"Shanghai, China",1.96,1.03
2,Jakarta,Indonesia,2.54,22.25,3.50,2.02,3.18,2.19,0.59,0.27,1.28,1.21,0.83,1.70,6.66,3.46,8.32,2.80,1.52,2.08,1.24,1.35,2.10,1.13,0.42,20.66,2.06,3.18,"Jakarta, Indonesia",2.13,1.45
3,Manila,Philippines,3.54,27.40,3.54,1.24,1.90,2.91,0.93,0.51,1.63,1.19,0.89,1.73,5.06,4.19,6.64,2.66,1.42,2.95,1.42,1.76,1.75,1.36,0.65,8.84,1.15,1.55,"Manila, Philippines",2.34,1.57
4,Seoul,South Korea,7.16,52.77,6.03,3.02,4.52,3.86,1.46,0.78,2.13,2.78,3.66,4.02,11.13,10.62,40.41,6.79,3.70,6.40,6.36,3.86,2.81,2.40,1.06,15.08,2.10,2.49,"Seoul, South Korea",5.63,3.86

##### Prompt 8

Determine which **country** has the highest average fruit cost.

In [8]:
highest_avgfruit = reliable_r.groupby('Country')['Avg_Fruit'].mean().idxmax()
print(f"{highest_avgfruit} has the highest average fruit cost.")

Bermuda has the highest average fruit cost.

##### Prompt 9
The cost of living data set we have been using was updated. While we could continue to keep the DataFrames separate, we want to concatenate them so that all data is contained in one DataFrame.

To prepare for this merge, first add a column called 'year' with values of 2021 to our current DataFrame.

Next, read in the file called 'CostofLivingforWeek3_2.csv'. Add a column called 'year' with values of 2022 to your import and remove any rows were data_quality is equal to 0.

Finally, concatenate your DataFrames so the new data appears as additional rows.

In [9]:
reliable_r['year'] = 2021
reliable_r.head()

,City,Country,Inexpensive Meal,Midrange Meal For 2,McMeal,Domestic Beer (at restaurant),Imported Beer (at restaurant),Cappuccino (at restaurant),Soft Drink (at restaurant),Water (at restaurant),Milk (at Grocery),White Bread,Rice,Eggs,Cheese,Chicken,Beef,Apples,Bananas,Oranges,Tomato,Potato,Onion,Lettuce,Water (at Grocery),Wine (at Grocery),Domestic Beer (at Grocery),Imported Beer (at Grocery),City/Country,Avg_Fruit,Avg_Veg,year
0,Delhi,India,4.90,22.04,4.28,1.84,3.67,1.78,0.48,0.19,0.73,0.51,0.88,1.01,4.32,3.79,5.57,1.80,0.75,1.01,0.60,0.36,0.41,0.70,0.36,9.79,1.53,2.51,"Delhi, India",1.19,0.52,2021
1,Shanghai,China,5.59,40.51,5.59,1.12,4.19,3.96,0.52,0.32,2.68,2.57,1.18,2.17,18.01,4.67,12.79,2.22,1.55,2.11,1.47,0.82,1.02,0.82,0.62,13.97,0.91,1.93,"Shanghai, China",1.96,1.03,2021
2,Jakarta,Indonesia,2.54,22.25,3.50,2.02,3.18,2.19,0.59,0.27,1.28,1.21,0.83,1.70,6.66,3.46,8.32,2.80,1.52,2.08,1.24,1.35,2.10,1.13,0.42,20.66,2.06,3.18,"Jakarta, Indonesia",2.13,1.45,2021
3,Manila,Philippines,3.54,27.40,3.54,1.24,1.90,2.91,0.93,0.51,1.63,1.19,0.89,1.73,5.06,4.19,6.64,2.66,1.42,2.95,1.42,1.76,1.75,1.36,0.65,8.84,1.15,1.55,"Manila, Philippines",2.34,1.57,2021
4,Seoul,South Korea,7.16,52.77,6.03,3.02,4.52,3.86,1.46,0.78,2.13,2.78,3.66,4.02,11.13,10.62,40.41,6.79,3.70,6.40,6.36,3.86,2.81,2.40,1.06,15.08,2.10,2.49,"Seoul, South Korea",5.63,3.86,2021

In [10]:
cost2 = pd.read_csv('CostofLivingforWeek3_2.csv')
cost2['year'] = 2022
cost2 = cost2[cost2['data_quality'] == 1]
cost2.head()

,City,Country,Inexpensive Meal,Midrange Meal For 2,McMeal,Domestic Beer (at restaurant),Imported Beer (at restaurant),Cappuccino (at restaurant),Soft Drink (at restaurant),Water (at restaurant),Milk (at Grocery),White Bread,Rice,Eggs,Cheese,Chicken,Beef,Apples,Bananas,Oranges,Tomato,Potato,Onion,Lettuce,Water (at Grocery),Wine (at Grocery),Domestic Beer (at Grocery),Imported Beer (at Grocery),data_quality,Avg_Fruit,Avg_Veg,City/Country,year
0,Seoul,South Korea,7.68,53.78,6.15,3.07,4.99,3.93,1.48,0.79,2.20,2.85,3.53,4.04,11.54,10.58,41.61,6.77,3.71,6.50,6.19,3.84,2.92,2.45,1.05,15.36,2.12,2.36,1,5.660000,3.8500,"Seoul, South Korea",2022
1,Shanghai,China,5.69,39.86,5.69,1.14,4.27,3.98,0.53,0.33,2.74,2.61,1.22,2.22,18.35,4.86,13.12,2.26,1.60,2.19,1.53,0.84,1.04,0.83,0.64,14.24,0.94,1.97,1,2.016667,1.0600,"Shanghai, China",2022
2,Guangzhou,China,4.13,28.47,4.98,0.85,1.71,3.54,0.44,0.33,1.91,1.63,1.03,1.71,9.00,3.77,11.75,2.02,1.44,1.82,1.31,0.74,1.00,0.49,0.51,11.39,0.95,2.26,1,1.760000,0.8850,"Guangzhou, China",2022
3,Mumbai,India,3.68,18.42,3.68,2.46,4.30,2.48,0.48,0.19,0.75,0.50,0.83,0.95,5.88,3.69,5.95,2.09,0.67,1.34,0.59,0.44,0.44,0.65,0.35,9.83,2.27,3.61,1,1.366667,0.5300,"Mumbai, India",2022
4,Delhi,India,4.91,22.11,4.30,1.84,3.68,1.77,0.49,0.19,0.73,0.50,0.85,1.02,4.36,3.81,5.71,1.79,0.75,1.03,0.61,0.37,0.41,0.70,0.36,9.83,1.54,2.49,1,1.190000,0.5225,"Delhi, India",2022

In [11]:
reliable_r = pd.concat([reliable_r, cost2])
reliable_r.head()

,City,Country,Inexpensive Meal,Midrange Meal For 2,McMeal,Domestic Beer (at restaurant),Imported Beer (at restaurant),Cappuccino (at restaurant),Soft Drink (at restaurant),Water (at restaurant),Milk (at Grocery),White Bread,Rice,Eggs,Cheese,Chicken,Beef,Apples,Bananas,Oranges,Tomato,Potato,Onion,Lettuce,Water (at Grocery),Wine (at Grocery),Domestic Beer (at Grocery),Imported Beer (at Grocery),City/Country,Avg_Fruit,Avg_Veg,year,data_quality
0,Delhi,India,4.90,22.04,4.28,1.84,3.67,1.78,0.48,0.19,0.73,0.51,0.88,1.01,4.32,3.79,5.57,1.80,0.75,1.01,0.60,0.36,0.41,0.70,0.36,9.79,1.53,2.51,"Delhi, India",1.19,0.52,2021,NaN
1,Shanghai,China,5.59,40.51,5.59,1.12,4.19,3.96,0.52,0.32,2.68,2.57,1.18,2.17,18.01,4.67,12.79,2.22,1.55,2.11,1.47,0.82,1.02,0.82,0.62,13.97,0.91,1.93,"Shanghai, China",1.96,1.03,2021,NaN
2,Jakarta,Indonesia,2.54,22.25,3.50,2.02,3.18,2.19,0.59,0.27,1.28,1.21,0.83,1.70,6.66,3.46,8.32,2.80,1.52,2.08,1.24,1.35,2.10,1.13,0.42,20.66,2.06,3.18,"Jakarta, Indonesia",2.13,1.45,2021,NaN
3,Manila,Philippines,3.54,27.40,3.54,1.24,1.90,2.91,0.93,0.51,1.63,1.19,0.89,1.73,5.06,4.19,6.64,2.66,1.42,2.95,1.42,1.76,1.75,1.36,0.65,8.84,1.15,1.55,"Manila, Philippines",2.34,1.57,2021,NaN
4,Seoul,South Korea,7.16,52.77,6.03,3.02,4.52,3.86,1.46,0.78,2.13,2.78,3.66,4.02,11.13,10.62,40.41,6.79,3.70,6.40,6.36,3.86,2.81,2.40,1.06,15.08,2.10,2.49,"Seoul, South Korea",5.63,3.86,2021,NaN

##### Prompt 10

Determine if the average cost of fruit has changed from 2021 to 2022.

In [12]:
fruit2021 = reliable_r[reliable_r['year'] == 2021]['Avg_Fruit'].mean()
fruit2022 = reliable_r[reliable_r['year'] == 2022]['Avg_Fruit'].mean()

if fruit2021 == fruit2022:
    print("The average cost of fruit has not changed from 2021 to 2022.")
elif fruit2021 < fruit2022:
    print("The average cost of fruit has increased from 2021 to 2022.")
else:
    print("The average cost of fruit has decreased from 2021 to 2022.")

The average cost of fruit has increased from 2021 to 2022.