## Data Structures, Types, and Functions ICA

#### Follow the prompts below to practice the concepts learned in week 1. Submit the assignment as a .ipynb through blackboard.

##### Prompt 1
Create a tuple that produces the following output when printed: ('h', 'e', 'l', 'l', 'o')

In [2]:
strtup=tuple('hello')
print(strtup)

('h', 'e', 'l', 'l', 'o')

##### Prompt 2
Slice your tuple and print the second character (the 'e')

In [7]:
strtup[1]
print(strtup[1])

e

##### Prompt 3
Create a list the produces the following output when printed:[4, 9, 2, 0, 4, 0]

In [24]:
numli=[4,9,2,0,4,0]
print(numli)
print(type(numli))

[4, 9, 2, 0, 4, 0]
<class 'list'>

##### Prompt 4
Test the type of your list variable above to prove it is a list and print the output.

In [26]:
numli=[4,9,2,0,4,0]
print(type(numli))

<class 'list'>

##### Prompt 5
Convert your list to a tuple, test and print the type.

In [27]:
numli=tuple([4,9,2,0,4,0])
print(numli)
print(type(numli))

(4, 9, 2, 0, 4, 0)
<class 'tuple'>

##### Prompt 6
Create a set using the values of your list from prompt 3. print your result.

In [29]:
a=set([4, 9, 2, 0, 4, 0])
print(a)

{0, 9, 2, 4}

##### Prompt 7
Create a dictionary that has the name of the month as the keys and the number of the month as values (for example, January would be the key, and 1 would be the value, February would be the key, and 2 would be the value, and so on). Print your result.

In [35]:
months={'Jan': 1, 'Feb': 2, 'March': 3, 'April': 4, 'May': 5, 'Jun': 6, 'Jul': 7, 'Aug': 8, 'Sep': 9, 'Oct': 10, 'Nov': 11, 'Dec': 12}
print(months)

{'Jan': 1, 'Feb': 2, 'March': 3, 'April': 4, 'May': 5, 'Jun': 6, 'Jul': 7, 'Aug': 8, 'Sep': 9, 'Oct': 10, 'Nov': 11, 'Dec': 12}

##### Prompt 8
Assign 3 to a variable name 'a' and 2 to a variable named 'b'. Print the type of these variables.

In [36]:
a=3 
b=2
print(type(a))
print(type(b))

<class 'int'>
<class 'int'>

##### Prompt 9
Create a variable 'adivb' that is the results of a divided by b and test the type of the result. What do you notice about the type and pythons ability to convert from int to float when necessary?

In [37]:
adivb=a/b
print(type(adivb))
#class= float since the answer is a decimal.
#Python recognizes any division with one / as a 'float'

<class 'float'>

##### Prompt 10
Write a function will return the result of a divided by b (similar to the problem above). Call the function adivideb and test it by inputting a and b.

In [41]:
def adivideb(a=3, b=2):
    return(a/b)
print(adivideb())

1.5