## Introduction to Pandas ICA

#### Follow the prompts below to practice the concepts learned in the Introduction Pandas lecture. Submit the assignment as a .ipynb through blackboard.

In [1]:
import pandas as pd #pandas import
import numpy as np #numpy import
pd.set_option('display.max_columns', None) #displays all columns instead of a max of 20

##### Prompt 1

Read in the data file called 'Best Movies Netflix'.

Print the first 5 rows by using the .head() command.

In [2]:
movies=pd.read_csv('Best Movies Netflix.csv')
print(movies.head())

   index                                     TITLE  RELEASE_YEAR  SCORE  \
0      0  David Attenborough: A Life on Our Planet          2020    9.0
1      1                                 Inception          2010    8.8
2      2                              Forrest Gump          1994    8.8
3      3                                Anbe Sivam          2003    8.7
4      4                        Bo Burnham: Inside          2021    8.7

   NUMBER_OF_VOTES  DURATION   MAIN_GENRE MAIN_PRODUCTION
0            31180        83  documentary              GB
1          2268288       148        scifi              GB
2          1994599       142        drama              US
3            20595       160       comedy              IN
4            44074        87       comedy              US

##### Prompt 2

Drop the column called 'index'. It is left over from an export of the DataFrame.

Print your results to confirm the column was dropped.

In [3]:
movies1=movies.drop(columns='index')
print(movies1.head())

                                      TITLE  RELEASE_YEAR  SCORE  \
0  David Attenborough: A Life on Our Planet          2020    9.0
1                                 Inception          2010    8.8
2                              Forrest Gump          1994    8.8
3                                Anbe Sivam          2003    8.7
4                        Bo Burnham: Inside          2021    8.7

   NUMBER_OF_VOTES  DURATION   MAIN_GENRE MAIN_PRODUCTION
0            31180        83  documentary              GB
1          2268288       148        scifi              GB
2          1994599       142        drama              US
3            20595       160       comedy              IN
4            44074        87       comedy              US

##### Prompt 3
Use a single command to access the descriptive statistics of all numeric columns in your DataFrame.

What is the maximum Score given to a Movie in this DataFrame?

In [4]:

print(movies1.describe(), '\n')
movies2=movies1[['SCORE']]
print(movies2.apply(lambda x: x.max()))

       RELEASE_YEAR       SCORE  NUMBER_OF_VOTES    DURATION
count    387.000000  387.000000     3.870000e+02  387.000000
mean    2011.023256    7.509044     1.365206e+05  123.395349
std       10.813874    0.441906     2.342114e+05   28.371632
min     1954.000000    6.900000     1.013900e+04   28.000000
25%     2008.000000    7.100000     2.051250e+04  103.500000
50%     2014.000000    7.400000     4.520000e+04  122.000000
75%     2018.000000    7.800000     1.534855e+05  139.000000
max     2022.000000    9.000000     2.268288e+06  229.000000

SCORE    9.0
dtype: float64

##### Prompt 4

Create 2 new sets that contain the unique values of 'MAIN_GENRE' and 'MAIN_PRODUCTION'. We will use these again next week.

Print each of your new variables.

In [5]:
movie_genre=set(movies1['MAIN_GENRE'])
print(movie_genre)

{'documentary', 'thriller', 'romance', 'war', 'horror', 'comedy', 'western', 'sports', 'musical', 'action', 'scifi', 'fantasy', 'drama', 'crime', 'animation'}

In [6]:
movie_prod=set(movies1['MAIN_PRODUCTION'])
print(movie_prod)

{'ZA', 'MX', 'TR', 'DE', 'JP', 'US', 'PS', 'KR', 'NL', 'CN', 'GB', 'DK', 'TH', 'AU', 'IT', 'KH', 'ES', 'CD', 'ID', 'PL', 'NO', 'FR', 'AR', 'MW', 'LT', 'HK', 'BE', 'UA', 'IE', 'HU', 'BR', 'CA', 'IN', 'XX', 'NZ'}

##### Prompt 5

Write a for loop that will cycle through each row of your DataFrame. To make sure that the your loop is working, print the MAIN_GENRE contained in that row on each cycle.

In [7]:
#another alternative: print(movies['MAIN_GENRE'])
for main_genre in movies['MAIN_GENRE']:
    print(main_genre)

documentary
scifi
drama
comedy
comedy
drama
western
action
comedy
comedy
comedy
comedy
crime
thriller
documentary
drama
crime
drama
comedy
drama
drama
thriller
drama
drama
documentary
war
comedy
fantasy
comedy
crime
drama
documentary
thriller
comedy
drama
fantasy
comedy
drama
action
comedy
documentary
drama
comedy
drama
drama
comedy
romance
fantasy
thriller
drama
drama
documentary
drama
thriller
drama
drama
horror
romance
drama
scifi
thriller
comedy
drama
drama
thriller
thriller
thriller
scifi
drama
drama
drama
drama
comedy
thriller
comedy
scifi
thriller
comedy
documentary
comedy
drama
drama
documentary
documentary
comedy
drama
drama
comedy
drama
fantasy
drama
drama
crime
drama
drama
drama
drama
comedy
action
western
comedy
drama
thriller
drama
documentary
crime
crime
drama
drama
documentary
drama
thriller
thriller
war
drama
drama
romance
drama
thriller
comedy
thriller
comedy
fantasy
drama
drama
drama
romance
thriller
drama
romance
drama
comedy
romance
fantasy
thriller
drama
crime
fantasy
drama
drama
thriller
musical
comedy
comedy
drama
comedy
drama
drama
thriller
animation
drama
thriller
documentary
drama
documentary
comedy
drama
western
comedy
crime
horror
thriller
drama
western
comedy
romance
thriller
thriller
romance
drama
fantasy
drama
thriller
fantasy
drama
drama
drama
fantasy
fantasy
drama
horror
drama
fantasy
war
thriller
romance
drama
drama
drama
romance
drama
comedy
drama
crime
drama
thriller
drama
drama
drama
drama
thriller
thriller
drama
drama
drama
drama
drama
documentary
documentary
drama
horror
drama
comedy
crime
romance
sports
drama
documentary
thriller
drama
romance
thriller
crime
drama
drama
drama
drama
thriller
scifi
romance
drama
comedy
comedy
comedy
thriller
fantasy
drama
thriller
thriller
drama
drama
thriller
drama
western
thriller
drama
comedy
thriller
drama
western
thriller
comedy
romance
thriller
crime
crime
comedy
fantasy
crime
thriller
drama
comedy
drama
fantasy
thriller
crime
drama
scifi
thriller
drama
documentary
drama
thriller
drama
thriller
drama
drama
crime
comedy
drama
drama
romance
thriller
documentary
comedy
comedy
horror
drama
drama
drama
documentary
thriller
comedy
drama
documentary
drama
thriller
animation
horror
thriller
drama
scifi
musical
drama
drama
comedy
romance
drama
comedy
thriller
drama
crime
drama
comedy
drama
drama
comedy
crime
drama
action
romance
comedy
thriller
action
drama
drama
thriller
drama
horror
drama
comedy
drama
drama
drama
drama
drama
drama
thriller
fantasy
musical
fantasy
drama
thriller
drama
drama
comedy
thriller
drama
horror
crime
drama
drama
romance
musical
drama
western
drama
romance
comedy
comedy
thriller
animation
drama
crime
romance
drama
drama
drama
thriller
thriller
drama
comedy
crime
comedy
drama
comedy
drama
drama
drama
fantasy
drama
thriller
comedy
drama
drama
romance
fantasy

##### Prompt 6

Nest an if/elif/else loop within your for loop from Prompt5 that will print 'This movie is funny' if the MAIN_GENRE is comedy, 'This movie is scary' if the MAIN_GENRE is horror OR thriller, and will pass if the MAIN_GENRE is any other value.

In [8]:
for main_genre in movies['MAIN_GENRE']:
    if main_genre =='comedy':
        print('This movie is funny')
    elif main_genre in ['horror','thriller']:
        print('This movie is scary')

This movie is funny
This movie is funny
This movie is funny
This movie is funny
This movie is funny
This movie is funny
This movie is scary
This movie is funny
This movie is scary
This movie is funny
This movie is funny
This movie is scary
This movie is funny
This movie is funny
This movie is funny
This movie is funny
This movie is funny
This movie is scary
This movie is scary
This movie is scary
This movie is scary
This movie is funny
This movie is scary
This movie is scary
This movie is scary
This movie is funny
This movie is scary
This movie is funny
This movie is scary
This movie is funny
This movie is funny
This movie is funny
This movie is funny
This movie is funny
This movie is funny
This movie is scary
This movie is scary
This movie is scary
This movie is scary
This movie is funny
This movie is scary
This movie is funny
This movie is scary
This movie is funny
This movie is scary
This movie is scary
This movie is funny
This movie is funny
This movie is funny
This movie is scary
This movie is scary
This movie is funny
This movie is funny
This movie is scary
This movie is scary
This movie is funny
This movie is scary
This movie is scary
This movie is scary
This movie is scary
This movie is scary
This movie is funny
This movie is scary
This movie is scary
This movie is scary
This movie is scary
This movie is funny
This movie is scary
This movie is scary
This movie is scary
This movie is funny
This movie is funny
This movie is funny
This movie is scary
This movie is scary
This movie is scary
This movie is scary
This movie is scary
This movie is funny
This movie is scary
This movie is scary
This movie is funny
This movie is scary
This movie is funny
This movie is scary
This movie is funny
This movie is scary
This movie is scary
This movie is scary
This movie is scary
This movie is funny
This movie is scary
This movie is funny
This movie is funny
This movie is scary
This movie is scary
This movie is funny
This movie is scary
This movie is scary
This movie is scary
This movie is funny
This movie is funny
This movie is scary
This movie is funny
This movie is funny
This movie is funny
This movie is scary
This movie is scary
This movie is scary
This movie is funny
This movie is scary
This movie is scary
This movie is funny
This movie is scary
This movie is scary
This movie is funny
This movie is funny
This movie is scary
This movie is scary
This movie is scary
This movie is funny
This movie is funny
This movie is funny
This movie is scary
This movie is funny

##### Prompt 7

Now, edit the same loops you used in Prompt6, to create a new column in your DataFrame called 'Genre_description' with the same phrases you printed.

Two notes: I have provided a method for initializing the variable to help accomplish this task. Also, I received a warning when using this method, but it did accomplish the task.

In [20]:
pd.options.mode.chained_assignment = None 
movies['Genre_description']=np.empty(len(movies),dtype=str)

for main_genre in movies.index:
    if movies['MAIN_GENRE'][main_genre] =='comedy':
        movies['Genre_description'][main_genre]='This movie is funny'
    elif main_genre in ['horror','thriller']:
        movies['Genre_description'][main_genre]='This movie is scary'
    else:
        pass
    
# for genre in movies['MAIN_GENRE']:
#     if movies['MAIN_GENRE'][genre] =='comedy':
#         movies['Genre_description'][genre]='This movie is funny'
#     elif movies['MAIN_GENRE'][genre] in ['horror','thriller']:
#         movies['Genre_description'][genre]='This movie is scary'
#     else:
#         pass

movies.head()

,index,TITLE,RELEASE_YEAR,SCORE,NUMBER_OF_VOTES,DURATION,MAIN_GENRE,MAIN_PRODUCTION,Genre_description
0,0,David Attenborough: A Life on Our Planet,2020,9.0,31180,83,documentary,GB,
1,1,Inception,2010,8.8,2268288,148,scifi,GB,
2,2,Forrest Gump,1994,8.8,1994599,142,drama,US,
3,3,Anbe Sivam,2003,8.7,20595,160,comedy,IN,This movie is funny
4,4,Bo Burnham: Inside,2021,8.7,44074,87,comedy,US,This movie is funny

##### Prompt 8

Print all rows of your data where the values of MAIN_GENRE are comedy, horror, and thriller to confirm that the loop worked.

In [22]:
new_genres = movies[movies['MAIN_GENRE'].isin(['comedy','horror','thriller'])]
print(new_genres)

     index                            TITLE  RELEASE_YEAR  SCORE  \
3        3                       Anbe Sivam          2003    8.7
4        4               Bo Burnham: Inside          2021    8.7
8        8           Bo Burnham: Make Happy          2016    8.4
9        9            Louis C.K.: Hilarious          2010    8.4
10      10  Dave Chappelle: Sticks & Stones          2019    8.4
..     ...                              ...           ...    ...
371    371                          My Girl          1991    6.9
373    373                         2 States          2014    6.9
375    375                   The Half of It          2020    6.9
381    381           The Night Comes for Us          2018    6.9
382    382                         The Trip          2021    6.9

     NUMBER_OF_VOTES  DURATION MAIN_GENRE MAIN_PRODUCTION    Genre_description
3              20595       160     comedy              IN  This movie is funny
4              44074        87     comedy              US  This movie is funny
8              14356        60     comedy              US  This movie is funny
9              11973        84     comedy              US  This movie is funny
10             25687        65     comedy              US  This movie is funny
..               ...       ...        ...             ...                  ...
371            79800       103     comedy              US  This movie is funny
373            25344       149     comedy              IN  This movie is funny
375            34959       104     comedy              US  This movie is funny
381            25500       121   thriller              ID
382            19706       113     comedy              NO  This movie is funny

[125 rows x 9 columns]

##### Prompt 9

Print the Title of the western with the highest score of all western movies.

Note: I chained many slices.

In [26]:
western = movies[movies['MAIN_GENRE'] == 'western']
highest_western = western[western['SCORE']==western['SCORE'].max()]
print(highest_western)

   index             TITLE  RELEASE_YEAR  SCORE  NUMBER_OF_VOTES  DURATION  \
6      6  Django Unchained          2012    8.4          1472668       165

  MAIN_GENRE MAIN_PRODUCTION Genre_description
6    western              US

##### Prompt 10

Combine the use of a list comprehension and a ternary expression to create a new variable in your DataFrame called 'Century' that contains the value '20th Century' if the RELEASE_YEAR is less than 2000 and '21st Century' if the year is greater than or equal to 2000.

In [28]:
movies['century'] = ['20th Centry'if year < 2000 else '21st Century' for year in movies['RELEASE_YEAR']]
movies.head()

,index,TITLE,RELEASE_YEAR,SCORE,NUMBER_OF_VOTES,DURATION,MAIN_GENRE,MAIN_PRODUCTION,Genre_description,century
0,0,David Attenborough: A Life on Our Planet,2020,9.0,31180,83,documentary,GB,,21st Century
1,1,Inception,2010,8.8,2268288,148,scifi,GB,,21st Century
2,2,Forrest Gump,1994,8.8,1994599,142,drama,US,,20th Centry
3,3,Anbe Sivam,2003,8.7,20595,160,comedy,IN,This movie is funny,21st Century
4,4,Bo Burnham: Inside,2021,8.7,44074,87,comedy,US,This movie is funny,21st Century