

## Week 2 Homework

#### Follow the prompts below to practice the concepts learned in Week 2's lectures. Submit the assignment as a .ipynb through blackboard.

In [1]:
import numpy as np

####Prompt1
Start by creating to variables varA which is equal to 3, and varB which is equal to 11.

Write a while loop that will print the values of varA and varB as long as varA is less than varB. In each loop, add 1 to varA.

In [4]:
varA=3
varB=11

while varA < varB:
    print(f'valueA={varA}, valueB={varB}')

    varA +=1

valueA=3, valueB=11
valueA=4, valueB=11
valueA=5, valueB=11
valueA=6, valueB=11
valueA=7, valueB=11
valueA=8, valueB=11
valueA=9, valueB=11
valueA=10, valueB=11

####Prompt2

Add an if/else loop to the while loop from prompt1 that makes it so that three is added to varA if the value of varA is even, and one is added if the value of varA is odd. Make sure you are printing the value of varA and varB prior to any addition.

Note: you will have to redefine varA and varB.

In [7]:
varA=3
varB=11
while varA < varB:
    print(f'valueA={varA}, valueB={varB}')
    if varA %2 ==0:
        varA +=3
    elif varA %2 !=0:
        varA +=1

valueA=3, valueB=11
valueA=4, valueB=11
valueA=7, valueB=11
valueA=8, valueB=11

#### Prompt3
Write a function called `oddoreven` using an `if`/`else` statement to determine if the number passed in the function is even or odd. Make sure the function prints `'This is an even number.'` if the number is even and `'This is an odd number.'` if the number is odd. Test your function with both an odd and an even number to ensure it works. (**Note:** The modulus operator `%` will return the remainder of a division problem; for even numbers, the result is 0.)

In [12]:
def oddoreven(num: int):
    if num %2 !=0:
        print(f'This is an odd number: {num}.')
    elif num %2 ==0:
        print(f'This is an even number: {num}.')

oddoreven(4)
oddoreven(7)

This is an even number: 4.
This is an odd number: 7.

####Prompt4

Write a ternary expression that accomplishes the same output as Prompt3. Note you will have to define a variable to test the expression.

In [14]:
num=7
'This is an odd number' if num %2 !=0 else 'This is an even number'

'This is an odd number'

####Prompt5
Below is a dictionary with the full name of states as keys and the state abbreviations as values. However, they are all lowercase. Write a dict comprehension that returns the name of states with the first letter capitalized and both letters of the abbreviation capitalized.

Note you may need to use your resources to determine the syntax, but each can be accomplished with a method.

In [21]:
p5dict={'kentucky':'ky','maryland':'md','virginia':'va','indiana':'in','tennessee':'tn'}
p5dict = {x.capitalize():str.upper(value) for x, value in p5dict.items()}
print(p5dict)

{'Kentucky': 'KY', 'Maryland': 'MD', 'Virginia': 'VA', 'Indiana': 'IN', 'Tennessee': 'TN'}

####Prompt6
Add a dictionary entry to the dictionary from Prompt5 for Illinois whose abbreviation is IL.

In [23]:
p5dict['Illinois']='IL'
print(p5dict)

{'Kentucky': 'KY', 'Maryland': 'MD', 'Virginia': 'VA', 'Indiana': 'IN', 'Tennessee': 'TN', 'Illinois': 'IL'}

####Prompt7

Create two arrays. One called students with `'Janet'`, `'Adriana'`, `'Manual'`, `'Mohamed'`, `'Leann'`, `'Samuel'` as values. Another called grades with `[93, 85]`, `[78, 80]`, `[94, 93]`, `[75, 90]`, `[92, 87]`, `[96, 87]` as values.

Select all rows from `grades` where `students` is either `'Janet'` or `'Samuel'`

In [26]:
students=np.array(['Janet', 'Adriana', 'Manual', 'Mohamed', 'Leann', 'Samuel'])
grades=np.array([[93, 85], [78, 80], [94, 93], [75, 90], [92, 87], [96, 87]])

arrayG=np.isin(students, ['Janet', 'Samuel'])
Select=grades[arrayG]
print(Select)

[[93 85]
 [96 87]]

### Prompt8

Use `np.where()` to create a Boolean array that will print `True` when the student's grade is greater than the overall class average (or `mean`) and `False` when it is not. Print both the overall class average and your Boolean array.

In [27]:
mean_G=np.mean(grades)
print('The mean is: \n', mean_G)
bool_G=np.where(grades>mean_G, 'True','False')
print('The boolean grade is:\n', bool_G)

The mean is:
 87.5
The boolean grade is:
 [['True' 'False']
 ['False' 'False']
 ['True' 'True']
 ['False' 'True']
 ['True' 'False']
 ['True' 'False']]

####Prompt9
The students from Prompt7 need to split up to form 3 groups of 2. Use a single line of code to convert the array to a matrix with 3 rows and 2 columns.

In [28]:
print(students.reshape(3,2))

[['Janet' 'Adriana']
 ['Manual' 'Mohamed']
 ['Leann' 'Samuel']]

####Prompt10
Below is a list of students in another class. How many of these students are also the students included in the list from Prompt7.

Note: this can be accomplished with one command.

In [36]:
students2= np.array(['Frank', 'Fernando', 'Manual', 'Shannon', 'Leann','Deborah'])
set(students2).intersection(set(students))

{'Leann', 'Manual'}